/* 
==================
Variables
==================
*/

:root {
  /* ------- fonts family ------------*/
  --ff-special: "Open Sans", sans-serif;
  --ff-primary: "Open Sans", sans-serif;
  --ff-secondery: "Archivo", sans-serif;

  --clr-white: #fff;
  --clr-black: #000000;

  /* ------- various ------------*/
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --transition: all 0.3 linear;
}

/*
  =============== 
  Global Styles
  ===============
  */

html {
  scroll-behavior: smooth;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-secondery);
  line-height: 1.5;
  font-size: 0.875rem;
  background: -webkit-linear-gradient(
    rgba(135, 60, 255, 1),
    rgba(135, 60, 255, 0.2)
  );
  /* background: -webkit-linear-gradient(
      rgba(135, 60, 255, 1),
      rgba(135, 60, 255, 0) 0%
    ),
    -webkit-linear-gradient(-45deg, rgba(120, 155, 255, 0.9) 45%, rgba(
            55,
            230,
            235,
            1
          )
          0%); */
}
.wrapper {
  width: 80%;
  margin: 0 auto;
}
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img:not(.logo) {
  width: 100%;
}

img {
  display: block;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-secondery);
}

.logo-text {
  font-family: var(--ff-special);
  font-size: 1.5rem;
}

h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}

p {
  margin-bottom: 1.25rem;
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

/* ------------ general styling ----------*/
.section {
  margin-top: 10rem;
  margin-bottom: 10rem;
}
.section-head {
  margin-top: 5rem;
}
.section-register {
  margin-bottom: 2rem;
}
/* ------------- header -----------------*/
header {
  margin-bottom: 2rem;
}
.nav-logo {
  display: flex;
  justify-content: space-between;
}
.nav-toggle {
  border: none;
  background: transparent;
  font-size: 1.5rem;
}
.links-container {
  height: 0;
  overflow: hidden;
}

/* ------------- section-head -----------------*/

.head-top {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 4rem;
}
.head-title {
  padding-right: 4rem;
}
.webinar-date {
  text-transform: uppercase;
}

.head-deadline {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}

.head-title-info > p:first-child {
  margin-bottom: 0.25rem;
}

.head-title-info > p:nth-child(2),
.head-title-info > h2,
.head-title-info > p:last-child {
  margin-bottom: 4rem;
}

.deadline-format-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.days,
.hours,
.mins,
.secs {
  border: 2px solid lightgrey;
  text-align: center;
  padding: 1rem;
  font-size: 2rem;
}
.head-register {
  display: flex;
  flex-direction: column;
  border: 2px solid lightgrey;
}
.register-form {
  display: flex;
  flex-direction: column;
  margin: 3rem;
}

.register-form input {
  margin-bottom: 1rem;
  line-height: 2rem;
  font-size: 1.1rem;
  border: 2px solid lightgrey;
  border-radius: 5px;
  padding-left: 0.5rem;
}
.submit {
  text-transform: uppercase;
  padding: 0.5rem;
}

.head-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.head-bottom:after {
  content: "";
  height: 1px;
  border: 1px solid lightgrey;
  color: lightgrey;
  width: 100vw;
  position: absolute;
  top: 130%;
  left: -12%;
  /* z-index: 99; */
}
.benefit-title {
  margin-bottom: 2rem;
}
.benefit-title > h3 {
  border: 2px solid blue;
  padding: 0.5rem 2rem;
}
.benefit-group {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}
.benefit-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media only screen and (max-width: 850px) {
  /* For smaller screen: */
  .head-top {
    display: flex;
    flex-direction: column;
  }
  .head-title {
    margin-bottom: 2rem;
  }
}

/* ------------- section-schedule -----------------*/

.section-schedule-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
}
.section-schedule-wrapper:after {
  content: "";
  height: 1px;
  border: 1px solid lightgrey;
  color: lightgrey;
  width: 100vw;
  position: absolute;
  top: 115%;
  left: -12%;
  /* z-index: 99; */
}
.schedule-des {
  padding-right: 4rem;
}
.schedule-des > * {
  margin-bottom: 2rem;
}
.schedule-des > h3 {
  margin-bottom: 4rem;
}

@media only screen and (max-width: 960px) {
  /* For smaller screen: */
  .section-schedule-wrapper {
    display: flex;
    flex-direction: column;
  }
}
/* ------------- timeline --------------*/

.timeline {
  counter-reset: time; /* counter reset */
  position: relative;
}
.timeline li {
  list-style: none;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  line-height: 80px;
  font-size: 0.8rem;
}
.timeline li:before {
  /* counter-increment: year;
    content: counter(year); */
  width: 80px;
  border: 3px solid grey;
  border-radius: 20px;
  display: block;
  text-align: center;
  line-height: 2rem;
  margin: 0 auto 10px auto;
  background: #f1f1f1;
  color: #000000;
  transition: all ease-in-out 0.3s;
  cursor: pointer;
  position: absolute;
  top: 33%;
  left: 1rem;
}
.timeline li:after {
  content: "";
  position: absolute;
  width: 2px;
  height: 20px;
  background: grey;
  left: 12%;
  top: 90%;
}
.timeline li:last-child:after {
  content: none;
}
.intro::before {
  counter-increment: time;
  content: "10:30AM";
}
.topic-one::before {
  counter-increment: time;
  content: "11:00AM";
}
.shortbreak::before {
  counter-increment: time;
  content: "12:15PM";
}
.topic-two::before {
  counter-increment: time;
  content: "13:00PM";
}
.QandA::before {
  counter-increment: time;
  content: "14:00PM";
}
.webinar-ends::before {
  counter-increment: time;
  content: "14:30PM";
}

/* ------------- section-speakers -----------------*/
.section-speakers-wrapper {
  position: relative;
}
.section-speakers-wrapper:after {
  content: "";
  height: 1px;
  border: 1px solid lightgrey;
  color: lightgrey;
  width: 100vw;
  position: absolute;
  top: 135%;
  left: -12%;
  /* z-index: 99; */
}
.speakers-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.section-speakers-wrapper > h3 {
  margin-bottom: 4rem;
}

/* ------------- section-register -----------------*/
.register-wrapper {
  text-align: center;
  position: relative;
}
.register-wrapper > * {
  margin-bottom: 2rem;
}
.register-wrapper:after {
  content: "";
  height: 1px;
  border: 1px solid lightgrey;
  color: lightgrey;
  width: 100vw;
  position: absolute;
  top: 115%;
  left: -12%;
  /* z-index: 99; */
}

/* ------------- section-register -----------------*/
footer > p {
  text-align: center;
}
